@{
	ViewData["Title"] = @ViewBag.user.Name /*+ " - Пользователь"*/;
}

<h2>@ViewBag.user.Name</h2>

@{
	if (ViewBag.user.RoleId == 2) {
		<p>@ViewBag.user.Role.Name</p>
	}
	
	<div class="ptb-2 ">


		<a class="btn btn-primary mb-2" asp-area="" asp-controller="User" asp-action="EditProfile">Редактировать</a>
		<form asp-controller="Auth" asp-action="Logout" method="post">
			<input class="btn btn-danger mb-2" type="submit" value="Выйти">
		</form>

	</div>

	//foreach (var bookFFB in ViewBag.bookFromFeaturedBooks) {
	//    <h4>
	//        @bookFFB.FeaturedBook.Mark.Name
	//        <br>
	//        <a asp-controller="Book" asp-action="One" asp-route-id="@bookFFB.Book.Id">@bookFFB.Book.Name</a>

	//        @bookFFB.FeaturedBook.Mark.Name
	//        <br>
	//        <a asp-controller="Book" asp-action="One" asp-route-id="@bookFFB.Book.Id">@bookFFB.Book.Name</a>
	//    </h4>
	//}

	foreach (var featuredBook in ViewBag.featuredBooks) {
		<h4>
			<div>@featuredBook.Mark.Name</div>
			<a asp-controller="Book" asp-action="One" asp-route-id="@featuredBook.Book.Id">@featuredBook.Book.Name</a>

		</h4>
	}
}
