@{
	ViewData["Title"] = "Редактирование профиля";
}
<h1>@ViewData["Title"]</h1>
@{
	if (@ViewBag.message != null) {
		<div class="alert alert-danger" role="alert">
			@ViewBag.message
		</div>
	}
}
<form asp-controller="User" asp-action="Update" method="post">
	<div class="form_group mt-2 mb-2">
		<label for="userId">ID:</label>
		<input class="form-control" id="userId" readonly value="@ViewBag.user.Id" />
	</div>
	<div class="form_group mt-2 mb-2">
		<input class="form-control" id="login" name="login" type="email" required placeholder="Логин" value="@ViewBag.user.Login" />
	</div>
	<div class="form_group mt-2 mb-2">
		<input class="form-control" id="oldPassword" name="oldPassword" type="password" required placeholder="Старый пароль" />
	</div>
	<div class="form_group mt-2 mb-2">
		<input class="form-control" id="newPassword1" name="newPassword1" type="password" required placeholder="Новый пароль" />
	</div>
	<div class="form_group mt-2 mb-2">
		<input class="form-control" id="newPassword2" name="newPassword2" type="password" required placeholder="Подтверить новый пароль" />
	</div>
	<div class="form_group mt-2 mb-2">
		<input class="form-control" id="name" name="name" type="text" required placeholder="Имя" value="@ViewBag.user.Name"/>
	</div>
	<input class="btn btn-primary mt-2 mb-2" type="submit" value="Сохранить" />
</form>

