@{
    ViewData["Title"] = @ViewBag.author.Name /*+ " - Автор"*/;
}

<div class="row mb-5">
	<div class="col-xs-12 col-sm-4 col-md-3">
		<img class="rounded" style="width: 100%" alt="@ViewBag.author.Name" src="@ViewBag.author.Photo" />

	</div>

	<div class="col-xs-12 col-sm-8 col-md-9">
		<h2>@ViewBag.author.Name</h2>

		<p>@ViewBag.author.Biography</p>
	</div>
</div>

<h2>Новинки:</h2>
<div class="overflow-x-scroll mt-3 mb-5">
	<ul class="list-unstyled row flex-nowrap mb-0">
		@{
			foreach (var book in ViewBag.newBooks) {
				<li class="d-inline " style="width: auto;">
					<partial name="Partial/_BookItem" model="book"></partial>
				</li>
			}
		}
	</ul>
</div>

<h2>Популярное:</h2>
<div class="overflow-x-scroll mt-3 mb-5">
	<ul class="list-unstyled row flex-nowrap mb-0">
		@{
			foreach (var book in ViewBag.popularBooks) {
				<li class="d-inline " style="width: auto;">
					<partial name="Partial/_BookItem" model="book"></partial>
				</li>
			}
		}
	</ul>
</div>

