@{
	ViewData["Title"] = @ViewBag.title;
}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Все книги</a></li>
		<li class="breadcrumb-item active" aria-current="page">@ViewBag.title</li>
	</ol>
</nav>

<div class="row">
	<div class="col-xs-12 col-sm-3 col-md-2">
		<div class="border rounded p-3 ">
			<label class="mb-2">Жанры</label>
			@{
				List<Genre> genres = LibDbContext.Instance.Genres.OrderBy(g => g.Name).ToList();
				foreach (var genre in genres) {
					<h5>
						<a style="text-decoration: none;" asp-controller="Genre" asp-action="One" asp-route-id="@genre.Id">@genre.Name</a>
					</h5>
				}
			}
		</div>
	</div>

	<div class="col-xs-12 col-sm-9 col-md-10">
		<div class="">
			<h2>@ViewBag.title</h2>
		</div>

		<div class="">
			<ul class="list-unstyled row mt-3">
				@{
					foreach (var book in ViewBag.books) {
						<li class="d-inline " style="width: auto;">
							<partial name="Partial/_BookItem" model="book"></partial>
						</li>
					}
					if (ViewBag.books.Count == 0) {
						<div class="p-1">
							Пусто
						</div>
					}
				}
			</ul>
		</div>
	</div>
</div>

<div class="mt-3">
	<partial name="Partial/_SavedToSessionItem"></partial>
</div>




