@{
	Book book = @ViewBag.book;
	ViewData["Title"] = @book.Name /*+ " - Книга"*/;
}

<div class="row mb-5">
	<div class="col-xs-12 col-sm-4 col-md-3">
		<img class="rounded" style="width: 100%" alt="@book.Name" src="@book.PhotoPath" />
	</div>

	<div class="col-xs-12 col-sm-8 col-md-9">

		<div class="mb-2">
			<h2>@book.Name</h2>
			<h5>
				@{
					for (int i = 0; i < ViewBag.authors.Count; i++) {
						<a asp-controller="Author" asp-action="One" asp-route-id="@ViewBag.authors[i].Id" class="" style="text-decoration: none;">
							@ViewBag.authors[i].Name
						</a>
						if (i != ViewBag.authors.Count - 1) {
							<span class=" ">, </span>
						}
					}
				}
			</h5>
			<h5>
				<span>Жанр: </span>
				@{
					for (int i = 0; i < ViewBag.genres.Count; i++) {
						<a asp-controller="Genre" asp-action="One" asp-route-id="@ViewBag.genres[i].Id" class="" style="text-decoration: none;">
							@ViewBag.genres[i].Name
						</a>
						if (i != ViewBag.genres.Count - 1) {
							<span class=" ">, </span>
						}
					}
				}
			</h5>
		</div>
		<div class="my-3">
			<button href="#" class="btn btn-outline-warning" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapseRating" aria-expanded="false" aria-controls="collapseRating">
				<h5 class="mb-0">
					<img class="align-baseline" src="~/img/svg/star-fill.svg" />
					<span class="d-inline">@book.StrAvgRating</span>
				</h5>
			</button>
			<div class="collapse mt-1" id="collapseRating">
				<div class="card card-body col-xs-12 col-sm-8 col-md-6">
					@{
						List<Review> reviews = ViewBag.reviews;
						List<int> ratings = reviews.Select(r => r.Rating).ToList();
						for (int i = 5; i > 0; i--) {
							List<int> iRatings = ratings.Where(r => r == i).ToList();

							double percent = 0;
							if (ratings.Count != 0) {
								percent = ((double)iRatings.Count / ratings.Count) * 100;
							}
							percent = Math.Round(percent, 2);

							<div class="row my-1">
								<div class="col-2 d-flex">
									<div class="m-auto">
										<img class="align-baseline" src="~/img/svg/star-fill.svg" />
										<span class="d-inline">@i</span>
									</div>
								</div>
								<div class="col-2">
									<div class="m-auto">
										<span class="d-inline">@percent%</span>
									</div>
								</div>
								<div class="col-5">
									<div class="">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-label="Basic example"
												 style="width: @percent%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="m-auto">
										<span class="d-inline">@iRatings.Count</span>
									</div>
								</div>
							</div>
						}
					}

				</div>
			</div>

		</div>

		<div class="my-2">
			@{

				if (ViewBag.user != null) {
					User user = ViewBag.User;
					FeaturedBook featuredBook = book.FeaturedBooks.FirstOrDefault(fb => fb.UserId == user.Id);
					Review review = book.Reviews.FirstOrDefault(r => r.UserId == user.Id);

					if (featuredBook != null) {
						<button type="button" class="btn btn-success d-inline" data-bs-toggle="modal" data-bs-target="#modalForFeatureBook">
							<img class="align-middle" src="~/img/svg/check.svg" />
							<span>Добавлено</span>
						</button>
					} else {

						<button type="button" class="btn btn-primary d-inline" data-bs-toggle="modal" data-bs-target="#modalForFeatureBook">
							<img class="align-middle" src="~/img/svg/plus.svg" />
							<span>Добавить</span>
						</button>
					}
					<!-- Modal -->
					<div class="modal fade" id="modalForFeatureBook" tabindex="-1" role="dialog"
						 aria-labelledby="modalForFeatureBookTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								@{
									<form class="form-inline" asp-controller="Featured" asp-action="One" method="post">
										<div class="modal-header">
											<h5 class="modal-title">Избранное</h5>
										</div>

										<div class="modal-body">
											<input type="hidden" name="book_id" value="@book.Id" />
											<div class="form-group">
												<label for="selectMark">Метка</label>
												<select id="selectMark" class="form-select mt-2" name="mark_id">
													@{
														<option value="0">-</option>
														foreach (var mark in ViewBag.marks) {
															if (featuredBook != null && featuredBook.MarkId == mark.Id) {
																<option value="@mark.Id" selected>@mark.Name</option>
															} else {
																<option value="@mark.Id">@mark.Name</option>
															}
														}
													}
												</select>
											</div>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
											<input class="btn btn-primary" type="submit" value="Сохранить" />
										</div>
									</form>

								}
							</div>
						</div>
					</div>


					if (review != null) {
						<button type="button" class="btn btn-success d-inline" data-bs-toggle="modal" data-bs-target="#modalForReviewForBook">
							<img class="align-middle" src="~/img/svg/pencil-fill.svg" />
							<span>Редактировать рецензию</span>
						</button>
					} else {
						<button type="button" class="btn btn-primary d-inline" data-bs-toggle="modal" data-bs-target="#modalForReviewForBook">
							<img class="align-middle" src="~/img/svg/pencil.svg" />
							<span>Написать рецензию</span>
						</button>
					}
					<!-- Modal -->
					<div class="modal fade" id="modalForReviewForBook" tabindex="-1" role="dialog"
						 aria-labelledby="modalForReviewForBookTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								@{
									<div class="modal-header">
										<h5 class="modal-title">Рецензия</h5>
										@{
											if (review != null) {
												<form class="form-inline" asp-controller="Review" asp-action="Delete" method="post">
													<input type="hidden" name="book_id" value="@book.Id" />
													<input class="btn btn-danger" type="submit" value="Удалить" />
												</form>
											}
										}
									</div>
									<form class="form-inline" asp-controller="Review" asp-action="Update" method="post">

										<div class="modal-body">
											<input type="hidden" name="book_id" value="@book.Id" />
											<div class="form-group">
												<label for="selectRating">Оценка</label>
												<select id="selectRating" class="form-select mt-2" name="rating">
													@{
														for (int i = 1; i < 6; i++) {
															if (review != null && review.Rating == i) {
																<option value="@i" selected>@i</option>
															} else {
																<option value="@i">@i</option>
															}
														}
													}
												</select>
											</div>

											<div class="form-group mt-2">
												<label for="textareaContent">Текст</label>
												<textarea class="form-control mt-2" id="textareaContent"
														  rows="5" name="content" required>
													@{
														if (review != null) {
															@review.Content
														}
													}
																											</textarea>
											</div>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
											<input class="btn btn-primary" type="submit" value="Сохранить" />
										</div>
									</form>
								}
							</div>
						</div>
					</div>

				} else { // если юзер не залогинен, то кнопки перенаправляют на авторизацию
					<a asp-controller="Auth" asp-action="Login" type="button" class="btn btn-primary d-inline">
						<img class="align-middle" src="~/img/svg/plus.svg" />
						<span>Добавить</span>
					</a>
					<a asp-controller="Auth" asp-action="Login" type="button" class="btn btn-primary d-inline">
						<img class="align-middle" src="~/img/svg/pencil.svg" />
						<span>Написать рецензию</span>
					</a>
				}

			}
		</div>

		<div class="my-2">
			@{
				var featuredBooks = @book.FeaturedBooks.ToList();

				var read = featuredBooks.Where(fb => fb.MarkId == 3);
				var readLater = featuredBooks.Where(fb => fb.MarkId == 1);
			}
			<a class=" d-inline" data-bs-toggle="modal"
			   data-bs-target="#modalForUsersWhoRead">
				Прочитали - @read.Count()
			</a>
			<!-- Modal -->
			<div class="modal fade" id="modalForUsersWhoRead" tabindex="-1" role="dialog"
				 aria-labelledby="modalForReviewForBookTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Прочитали</h5>
						</div>
						<div class="modal-body">
							<div class="form-group">
								@{
									foreach (var user in read.Select(fb => fb.User)) {
										<h4>
											<a class="" asp-controller="User" asp-action="One"
									   asp-route-id="@user.Id">@user.Name</a>
										</h4>
									}
								}
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Ок</button>
						</div>
					</div>
				</div>
			</div>

			<a class=" d-inline mx-3" data-bs-toggle="modal"
			   data-bs-target="#modalForUsersWhoReadLater">
				Планируют - @readLater.Count()
			</a>
			<!-- Modal -->
			<div class="modal fade" id="modalForUsersWhoReadLater" tabindex="-1" role="dialog"
				 aria-labelledby="modalForReviewForBookTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Планируют</h5>
						</div>
						<div class="modal-body">
							<div class="form-group">
								@{
									foreach (var user in read.Select(fb => fb.User)) {
										<h4>
											<a class="" asp-controller="User" asp-action="One"
									   asp-route-id="@user.Id">@user.Name</a>
										</h4>
									}
								}
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Ок</button>
						</div>
					</div>
				</div>
			</div>



		</div>


	</div>
</div>

<div class="mt-3">
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description"
					type="button" role="tab" aria-controls="nav-home" aria-selected="true">
				О книге
			</button>
			<button class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews"
					type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
				Рецензии<span class="mx-1  text-secondary">@ViewBag.reviews.Count</span>
			</button>
		</div>
	</nav>
	<div class="tab-content mt-3" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab" tabindex="0">
			<p>
				<h5>Описание</h5>
				@book.Description
			</p>
			<p>
				<h5>Дата написания</h5>
				@book.DateOfCreation
			</p>
		</div>
		<div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab" tabindex="0">
			@*<div class="d-flex flex-wrap justify-content-between">
			<ul class="pagination">
			<li class="page-item disabled">
			<a class="page-link" href="#" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
			</a>
			</li>
			<li class="page-item">
			<a class="page-link" href="#">1</a>
			</li>
			<li class="page-item active">
			<span class="page-link">2</span>
			</li>
			<li class="page-item">
			<a class="page-link" href="#">3</a>
			</li>
			<li class="page-item">
			<a class="page-link" href="#" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
			</a>
			</li>
			</ul>
			<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownReviewsOrder"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Dropdown button
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownReviewsOrder">
			<a class="dropdown-item" href="#">Action</a>
			<a class="dropdown-item" href="#">Another action</a>
			<a class="dropdown-item" href="#">Something else here</a>
			</div>
			</div>
			</div>*@
			@{
				if (ViewBag.reviews.Count == 0) {
					<div class="p-1">
						Пусто
					</div>
				}
				for (int i = 0; i < ViewBag.reviews.Count; i++) {

					Review review = @ViewBag.reviews[i];



					<div id="@review.Id" class="border rounded p-3 mb-3">
						<h5>
							<a asp-controller="User" asp-action="One" asp-route-id="@review.User.Id" class="" style="text-decoration: none;">
								@review.User.Name
							</a>
						</h5>
						<div class="text-secondary">
							@review.StrDateOfCreation
						</div>
						<h5 class="py-1">
							<img class="align-baseline text-warning" src="~/img/svg/star-fill.svg" />
							<span class="align-baseline d-inline">@review.Rating</span>
						</h5>
						<div class="pb-1">
							@review.Content
						</div>
						<div class="">
							@{
								List<Like> likes = review.Likes.ToList();

								<button type="button" class="btn btn-outline-secondary border-0" data-bs-toggle="modal"
										data-bs-target="#modalForUsersLikesFromReview_@review.Id">
									<span class="d-inline">@likes.Count </span>
								</button>
								<!-- Modal -->
								<div class="modal fade" id="modalForUsersLikesFromReview_@review.Id" tabindex="-1" role="dialog"
									 aria-labelledby="modalForReviewForBookTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Лайки</h5>
											</div>
											<div class="modal-body">
												<div class="form-group">
													@{
														foreach (var like in likes) {
															<h4>
																<a class="" asp-controller="User" asp-action="One"
											   asp-route-id="@like.User.Id">@like.User.Name</a>
															</h4>
														}
													}
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Ок</button>
											</div>
										</div>
									</div>
								</div>


								bool IsChecked = false;
								if (ViewBag.user != null) {
									User user = ViewBag.User;

									for (int j = 0; j < likes.Count; j++) {
										if (likes.Select(l => l.UserId).Contains(user.Id)) {
											IsChecked = true;
										}
									}
								}

								if (IsChecked) {
									<form asp-controller="Review" asp-action="Unlike"
						  asp-route-review_id="@review.Id" asp-route-book_id="@book.Id" method="post" class="mx-1 d-inline">
										<button type="submit" class="btn btn-outline-danger border-0">
											<img src="~/img/svg/hand-thumbs-up-fill.svg" />
										</button>
									</form>
								} else {
									<form asp-controller="Review" asp-action="Like"
						  asp-route-review_id="@review.Id" asp-route-book_id="@book.Id" method="post" class="mx-1 d-inline">
										<button type="submit" class="btn btn-outline-danger border-0">
											<img src="~/img/svg/hand-thumbs-up.svg" />
										</button>
									</form>
								}
							}
						</div>

					</div>
				}
			}
		</div>
	</div>
</div>
