@{
	ViewData["Title"] = @ViewBag.book.Name /*+ " - Книга"*/;
}

<h2>@ViewBag.book.Name</h2>

<h4>
	@{
		foreach (var author in ViewBag.authors) {
			<a asp-controller="Author" asp-action="One" asp-route-id="@author.Id">@author.Name </a>
		}
	}
</h4>

<p>Оценка - @ViewBag.book.StrAvgRating</p>

<div class="mt-4">
	<h2>Рецензии:</h2>
	@{
		foreach (var review in ViewBag.reviews) {
			<h4>
				<a asp-controller="User" asp-action="One" asp-route-id="@review.User.Id">@review.User.Name</a>
			</h4>
			<p>
				Оценка - @review.Rating
				<br/>
				@review.StrDateOfCreation
			</p>
			<p>
				@review.Content
			</p>
		}
	}
</div>
