@{
    ViewData["Title"] = "Жанры";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Genre" asp-action="All">Все жанры</a></li>
        <li class="breadcrumb-item"></li>
    </ol>
</nav>
<div class="row mb-3">
    <div class="col-xs-12 col-sm-3 col-md-2">
        <div class="border rounded p-3 ">
            <label class="mb-2">Жанры</label>
            @{
                User user = @ViewBag.user;
                if (@ViewBag.IsAdmin != null && @ViewBag.IsAdmin == true) {
                    <h5>
                        <a class="btn btn-primary mt-2 mb-2" asp-area="" asp-controller="Genre" asp-action="Create">Добавить</a>
                    </h5>
                }
                foreach (var g in ViewBag.genres) {
                    <h5>
                        <a style="text-decoration: none;" asp-controller="Genre" asp-action="One" asp-route-id="@g.Id">@g.Name</a>
                    </h5>
                }
            }
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10">
        <h2 class="">Выберите жанр</h2>
    </div>
</div>
<div>
    <partial name="Partial/_SavedToSessionItem"></partial>
</div>
