@{
    ViewData["Title"] = @ViewBag.genre.Name /*+ " - Жанр"*/;
}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Все книги</a></li>
		<li class="breadcrumb-item active" aria-current="page">@ViewBag.genre.Name</li>
	</ol>
</nav>

<div class="row">
	<div class="col-xs-12 col-sm-3 col-md-2">
		<div class="border rounded p-3 ">
			<label class="mb-2">Жанры</label>
			@{
				foreach (var genre in ViewBag.genres) {
					<h5>
						<a style="text-decoration: none;" asp-controller="Genre" asp-action="One" asp-route-id="@genre.Id">@genre.Name</a>
					</h5>
				}
			}
		</div>
	</div>

	<div class="col-xs-12 col-sm-9 col-md-10">
		<div class="">
			<h2>@ViewBag.genre.Name</h2>
		</div>

		<nav class="mt-3">
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-popular-tab" data-bs-toggle="tab" data-bs-target="#nav-popular"
						type="button" role="tab" aria-controls="nav-home" aria-selected="true">
					Популярное
				</button>
				<button class="nav-link" id="nav-new-tab" data-bs-toggle="tab" data-bs-target="#nav-new"
						type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
					Новинки
				</button>
			</div>
		</nav>

		<div class="tab-content mt-3" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-popular" role="tabpanel" aria-labelledby="nav-popular-tab" tabindex="0">
				<div class="mt-2">
					<ul class="list-unstyled row">
						@{
							foreach (var book in ViewBag.popularBooks) {
								<li class="d-inline " style="width: auto;">
									<partial name="Partial/_BookItem" model="book"></partial>
								</li>
							}
							if (ViewBag.popularBooks.Count == 0) {
								<div class="p-1">
									Пусто
								</div>
							}
						}
					</ul>
				</div>
			</div>

			<div class="tab-pane fade" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab" tabindex="0">
				<div class="mt-2">
					<ul class="list-unstyled row">
						@{
							foreach (var book in ViewBag.newBooks) {
								<li class="d-inline " style="width: auto;">
									<partial name="Partial/_BookItem" model="book"></partial>
								</li>
							}
							if (ViewBag.newBooks.Count == 0) {
								<div class="p-1">
									Пусто
								</div>
							}
						}
					</ul>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="mt-3">
	<partial name="Partial/_SavedToSessionItem"></partial>
</div>

